azure-core==1.33.0
azure-cosmos==4.9.0
azure-functions==1.24.0
certifi==2025.11.12
charset-normalizer==3.4.4
idna==3.11
MarkupSafe==2.1.5
requests==2.32.4
six==1.17.0
typing-extensions==4.13.2
urllib3==2.2.3
werkzeug==3.0.6
